.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.font-main {
  font-family: var(--font-main);
}

.font-second {
  font-family: var(--font-second);
}

.font-weight-300 {
  font-weight: var(--font-weight-300);
}

.font-weight-400 {
  font-weight: var(--font-weight-400);
}

.font-size-small {
  font-size: var(--font-size-small);
}

.font-size-medium {
  font-size: var(--font-size-medium);
}

.font-size-large {
  font-size: var(--font-size-large);
}

.text-color-main {
  color: var(--color-main);
}

.text-color-second {
  color: var(--color-second);
}

.text-color-third {
  color: var(--color-third);
}

.padding-horizontal-one {
  padding: var(--padding-horizontal-one);
}

.padding-horizontal-two {
  padding: var(--padding-horizontal-two);
}

.padding-horizontal-three {
  padding: var(--padding-horizontal-three);
}

.padding-top-half {
  padding-top: var(--padding-top-half);
}

.padding-top-one {
  padding-top: var(--padding-top-one);
}

.padding-top-two {
  padding-top: var(--padding-top-two);
}

.padding-top-three {
  padding-top: var(--padding-top-three);
}

.margin-top-one {
  margin-top: var(--margin-top-one);
}

.margin-top-two {
  margin-top: var(--margin-top-two);
}

.margin-top-three {
  margin-top: var(--margin-top-three);
}

.margin-top-four {
  margin-top: var(--margin-top-four);
}

.navigation-links {
  padding: 0;
  gap: 20px;
}

.margin-top-two {
  margin-top: var(--margin-top-two);
}

.margin-top-three {
  margin-top: var(--margin-top-three);
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.logo-sizing-main {
  width: 10rem;
  height: 100%;
}

a {
  color: var(--color-main);
}

a:hover {
  text-decoration: underline;
}

button:hover {
  background-color: var(--color-second);
  color: var(--color-main);
}

.socials button:hover {
  border-bottom: 1px solid var(--color-main);
}

body {
  height: 100vh;
}

.mobile__links {
  display: none;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: black;
}
.mobile__links div {
  padding: 2rem;
}

header img {
  width: 100vw;
}
header .navigation__container {
  position: absolute;
  top: 0;
  width: 100%;
}
header .navigation__container .wrapper {
  padding: 3rem;
}
header .navigation__container .navigation-hamburger {
  display: none;
}
header .navigation__container ul {
  display: flex;
}
header .quote {
  border: 1px solid white;
  width: 40vw;
  margin-top: 8vw;
  padding: 2vw;
  font-size: 4vw;
}

.feature {
  position: relative;
}
.feature img {
  width: 60%;
}
.feature .text {
  background-color: var(--color-main);
  padding: 4vw;
  width: 32vw;
  position: absolute;
  bottom: -4vw;
  right: 10vw;
  font-size: 1.5vw;
}

.cards .cards__header .seeall_desktop {
  border: 1px solid var(--color-second);
  padding: 10px;
}
.cards .cards__container {
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
}
.cards .cards__container .card {
  position: relative;
}
.cards .cards__container .card a {
  position: relative;
  display: block;
  color: var(--color-main);
  font-family: var(--font-second);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-300);
}
.cards .cards__container .card a img {
  width: 100%;
  height: auto;
}
.cards .cards__container .card a .card__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.cards .seeall_mobile {
  display: none;
}

footer {
  background-color: var(--color-second);
}
footer .top .socials button {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-second);
}
footer .bottom .socials__mobile {
  display: none;
}
footer {
  padding-bottom: 3rem !important;
}

.attribution {
  margin-top: var(--margin-top-one);
  margin-bottom: 1rem;
  text-align: center;
}

.mobile {
  display: none;
  background-color: var(--color-second);
}

@media (max-width: 750px) {
  .mobile {
    display: block;
  }
  header .header__hero {
    display: none;
  }
  header .navigation__container {
    width: 100%;
  }
  header .navigation__container .wrapper ul {
    display: none;
  }
  header .navigation__container .wrapper .navigation-hamburger {
    display: block;
    height: 2rem;
    width: 2rem;
  }
  header .navigation__container .wrapper .quote {
    border: 1px solid white;
    width: 90%;
    padding: 10px;
    align-self: center;
    margin-top: 10rem;
    font-size: 10vw;
  }
  .feature {
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature img {
    width: 80vw;
  }
  .feature .text {
    font-size: 1rem;
    background-color: var(--color-main);
    position: relative;
    inset: 0;
    width: 80vw;
    padding-top: var(--padding-top-one);
    text-align: center;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .cards .cards__header {
    padding-top: 1rem !important;
  }
  .cards .cards__header h1 {
    justify-self: center;
  }
  .cards .cards__header .seeall_desktop {
    display: none;
  }
  .cards .cards__container {
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
  }
  .cards .seeall_mobile {
    justify-self: center;
    display: block;
    font-size: 2rem;
    border: 1px solid var(--color-second);
    padding: 10px;
  }
  footer {
    padding: 1px !important;
  }
  footer .top {
    margin-top: var(--margin-top-two);
    justify-content: center;
    padding: 1px !important;
  }
  footer .top .socials button {
    display: none;
  }
  footer .bottom {
    margin-top: var(--margin-top-one);
    flex-direction: column;
  }
  footer .bottom .navigation-links {
    flex-direction: column;
    align-items: center;
  }
  footer .bottom span {
    padding: 1px;
    margin-top: var(--margin-top-one);
  }
  footer .bottom .socials__mobile {
    margin-top: var(--margin-top-one);
  }
  footer {
    padding-bottom: 3rem !important;
  }
}
:root {
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-200: hsl(0, 0%, 85%);
  --color-main: var(--color-white);
  --color-second: var(--color-black);
  --color-third: var(--color-grey-200);
  --font-main: "Alata", Arial, Helvetica, sans-serif;
  --font-second: "Josefin Sans", Arial, Helvetica, sans-serif;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-size-small: 1rem;
  --font-size-medium: 2rem;
  --font-size-large: 3rem;
  --font-size-1: 1rem;
  --font-size-2: 1.5rem;
  --flow-space: 1.5rem;
  --padding-horizontal-one: 0 3rem 0 3rem;
  --padding-horizontal-two: 0 6rem 0 6rem;
  --padding-horizontal-three: 0 9rem 0 9rem;
  --padding-top-half: 1.5rem;
  --padding-top-one: 3rem;
  --padding-top-two: 6rem;
  --padding-top-three: 9rem;
  --margin-top-one: 1rem;
  --margin-top-two: 3rem;
  --margin-top-three: 6rem;
  --margin-top-four: 9rem;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
